@import '@/styles/variables.module.scss';

.userLayout {
  height: 100vh;
  overflow: hidden;

  .iconWrap {
    height: $header-height;
  }

  .triggerWrap {
    height: 40px;
  }

  .sider {
    height: calc(100vh - 16px);
    margin: 8px 0 8px 8px;
    border-radius: 8px;
    overflow: hidden;

    @media only screen and (max-width: $screen-md) {
      margin: 0;
    }
  }

  .content {
    margin: 8px;
    overflow-y: scroll;
    padding: 40px;
    background-color: $white-color;
    border-radius: $round-sm;

    @media only screen and (max-width: $screen-md) {
      margin: 0;
      padding: 24px;
    }
  }
}