@import '@/styles/variables.module.scss';

.button {
  color: $text-color;

  &.iconOnly {
    color: $text-color;
  }

  &.darkTheme {
    color: $text-dark-color;
  }

  &.wide {
    width: 100%;
  }
}