@import '@/styles/variables.module.scss';

.contentWrap {
  height: 100vh;

  .formCol {
    height: 100%;
    padding: $size-sm;

    .formWrap {
      height: 100%;
    }
  }

  .image {
    object-fit: cover;
  }
}