@import '@/styles/variables.module.scss';

.linkBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $height-sm;
  padding: 0 $size-lg;
  color: $white-color;
  background-color: $primary-color;
  border: 1px solid transparent;
  border-radius: $round-sm;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
  transition: color 300ms, opacity 300ms;

  &:hover {
    color: $white-color;
  }

  &.outlined {
    color: $primary-color;
    background-color: transparent;
    border: 1px solid $primary-color;
    box-shadow: none;

    &:hover {
      box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
    }
  }
}